---
import Header from "../components/header.astro";
const pageTitle = "Sobre mí";
const identity = {
    firstName: "Ruben",
    country: "España",
    hobbies: ["Impresión 3D", "Gym", "Piano"]
};

const skills = ["HTML", "CSS", "JavaScript", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

import '../global.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <Header></Header>
	<h1>{pageTitle}</h1>
    <p>Este es un blog para ir públicando las cosas que voy aprendiendo sobre desarrollo web, también subir contenido sobre otros de mis hobbies nicho.</p>
    <br>
    <p>El próposito es mostrar que se puede llegar a ser un desarrollador empezando desde 0 y que esto sirva de motivación y ayuda para más personas.</p>
    <br>
    <p>Esto es alguna información sobre mí</p>
    <ul>
        <li>Mi nombre es {identity.firstName}</li>
        <li>Vivo en {identity.country} y alguno de mis hobbies son {identity.hobbies[0]} y {identity.hobbies[1]}</li>
    </ul>
    <p> Mis habilidades son las siguientes </p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
</body>
</html>


